body{
    margin: 150px 30% 100px 30%;
}

.form-floating{
    width: 100%;
    margin: 0%;
    padding: 0%;
    
}

.espacoInferior10{
    margin-bottom: 10px;
}

h2, h6{
    text-align: center;
    justify-content: center;
}

.espacoInferior{
    margin-bottom: 20px;
}

.btn-primary{
    width: 100%;
}

/* .btn-outline-danger{
    align-items: center;
    align-content: center;
    justify-content: center;
    

} */