<head>
    
</head>

<body>

    <form  [formGroup]="form" (ngSubmit)="onSubmit()" class="row g-3 needs-validation" novalidate>

        <div>

            <select class="form-select" formControlName="uf" required>
                <option selected disabled value="">Selecione a UF de saída</option>
                <!-- <option value="1">One</option> -->
            </select>
            <div class="invalid-feedback" *ngIf="form.get('uf')?.touched && form.get('uf')?.invalid">
                Selecione uma UF
            </div>

            <select class="form-select" formControlName="produto" required>
                <option selected disabled value="">Selecione o produto</option>
                <!-- <option value="1">One</option> -->
            </select>
        </div>
        <div class="invalid-feedback" *ngIf="form.get('produto')?.touched && form.get('produto')?.invalid">
            Selecione um produto da lista
        </div>

        <div>
            <button class="btn btn-primary" type="submit">Consultar</button>
        </div>

        <div class="alert alert-light" role="alert" id="rodape">
            Caso o produto ou UF não conste aqui, consultar o setor de planejamento tributário
        </div>

        <p id="rodape"></p>

    </form>

</body>