

<body>

    <form (ngSubmit)="onSubmit()" class="row g-3 needs-validation" novalidate>
        <div>

            <select class="form-select" name="empresa" required [(ngModel)]="empresa"
                [ngClass]="{ 'is-invalid': formSubmitted && !empresa }">
                <option value="" disabled selected>Selecione a empresa</option>
                <!-- <option value="MT">MT</option> -->
                
            </select>
            <div class="invalid-feedback" *ngIf="formSubmitted && !uf">
                Selecione uma Empresa
            </div>

            <div class="espacoInferior"></div>

            <select class="form-select" name="uf" required [(ngModel)]="uf"
                [ngClass]="{ 'is-invalid': formSubmitted && !uf }">
                <option value="" disabled selected>Selecione a UF de saída</option>
                <option value="MT">MT</option>
                <option value="SP">SP</option>
                <option value="RJ">RJ</option>
            </select>
            <div class="invalid-feedback" *ngIf="formSubmitted && !uf">
                Selecione uma UF
            </div>

            <div class="espacoInferior"></div>

            <select class="form-select mt-2" name="produto" required [(ngModel)]="produto"
                [ngClass]="{ 'is-invalid': formSubmitted && !produto }">
                <option value="" disabled selected>Selecione o produto</option>
                <option value="etanol">Etanol</option>
                <option value="gasolina">Gasolina</option>
            </select>
            <div class="invalid-feedback" *ngIf="formSubmitted && !produto">
                Selecione um produto da lista
            </div>
        </div>

        

        <div>
            <button class="btn btn-primary mt-3" type="submit">Consultar</button>
        </div>

        <div class="espacoInferior"></div>

        <div class="alert alert-light mt-3" role="alert" id="rodape">
            Caso o produto ou UF não conste aqui, consultar o setor de planejamento tributário
        </div>
    </form>

</body>